.image3{
    width:50%;
}
.nav-color{
    background-color:rgb(11, 11, 14);
    border-bottom:1px solid white;
}
.nav-text{
    text-align: left;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

  
  
  