.image3{
    width:50%;
}

.nav-color{
    background-color:rgb(24, 24, 58);
    border-bottom:2px solid white;
}
.nav-text{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.navbar-nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
    
  }

  
  
  