
.image {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  width: 35%;
  

}

.vocal-search-icon{
  width: 35px;
 
}
.vocal-search{
  margin-right: 15px;
  background-color:white;
  border:none;
}